.create-step-1{
	.ball-number{
			background-color:#132451;
			border:2px solid #1b70b6;
			width: 60px;
			height: 60px;
			border-radius: 30px;
			text-align: center;
			font-size: 3em;
			position: absolute;
			margin-top: -7px;
			font-weight: bold;

			&.active-ball{
			   	color: #1b70b6;
			}
		}
}