.enter-content-step-1{
	font-size: 15px;
	padding: 0 15px;
	.balance-amount{
		span.balance{
			color: #BEBFC1;
			span.amount{
				display: block;
				font-weight: bold;
			}
		}
	}

	img.small-coin-img{
		width: 15px;
	    margin-left: 10px;
	    margin-right: 10px;
	}

	.tab-buttons{
		border-bottom: 1px solid #36497C;

		ul{
			li {
				&.active{
					border-bottom: 5px solid #36497C;
					b{
						color: #fff;
					}

					a{
						span.balance{
							visibility: visible;
							color: #fff;
						}
					}
				}
				a{
					padding: 0;
					outline: none;
					background-color: transparent !important;
					border: 0 !important;
					&:hover{
						background-color: transparent !important;					
					}
					b{		
						color: #36497C;
						margin-bottom: 5px;
						display: block;
					}
					span.balance{
						visibility: hidden;
					}
				}
			}
		}

		

		.tab-icon-img{
			width: 20px;
			margin:0px auto;
		}
	}

	.help-text{
		color : #CBCBCB;
		font-weight: bold;
		margin-bottom: 0;
	}

	.contests{
		padding: 0 15px;
		> .row{
			padding:10px 0px;
			margin-left: -37px;
			margin-right: -37px;
			&.dark{
				background-color: #0D1939;

				span.orange{
					color: #f05d05;
				}
			}


			.col-xs-8{
				p{
					margin-bottom: 4px;
				}
			}

			.col-xs-4{
				div.button{
					float:right;
					background-color: #1B74BD;
					border-color: #1B74BD;
					border-radius: 5px;
					width: 80%;
					margin-top: 8px;
					text-align: center;
					padding: 8px 0;
					color: #fff;
					span.number{
						font-weight: bold;
					}

					&.edit-entry-div{
						padding: 0;
						background-color: #0A142F;
						p.edit-entry{
							font-weight: bold;
							margin-bottom: 0;
							font-size: 13px;
							padding: 3px 0px;
							background-color: rgb(54, 73, 124);
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
						}

					}
				}
			}

			.dual-buttons{

				.middle-div{
					width: 80%;
					text-align: center;		
					float:right;		
				}
				.button{
					margin:0px !important;
					padding:2px !important;

					&.purple-btn{
						background-color: rgb(54, 73, 124);
					}
				}
			}
		}

		.contest-title{
			font-weight: bold;

			&.mt10{
				margin-top: 10px;
			}
		}
	}

	.bottom-links{
		span{
			text-decoration: underline;
		}
	}
}

.main-content{

	.modal-dialog{
		width:35%;
	}

	.confirm-entry-content{
		color: #000;
		font-size: 0.7em;

		.select-check{
			background-color: #157efb;
		    text-align: center;
		    width: 40px;
		    height: 40px;
		    border-radius: 20px;

		    input{
		    	display: none;
		    }

		    span{
		    	margin-top: 13px;
		    	color: #fff;
		    }
		}

		.modal-footer{
			padding:0px;
			.btn{
				width: 100%;
				text-align: center;
				border:1px solid #fff;
				padding-top: 10px;
    			padding-bottom: 10px;
			}

			a{
				color: #157efb;
				font-size: 1.4em;
			}

			a:hover{
				background-color:#fff;
				text-decoration: none;
			}

			.borderRight{
				border-right:1px solid #ccc;
			}
		}
	}
}

// SMALL TABLETS
@media (min-width: 768px) {
	.enter-content-step-1{
		padding: 0 15px;
	}
} 