.groups{
  .create-group{
    padding-top: 20px;
    input[type=text].form-control,
    input[type=password].form-control,{
      background: #1d336c;
      border-color: #4f7caa;
      height: 46px;
      color: #fff;
    }
    select.form-control{
      border-color: #4f7caa;
      height: 46px;
      color: #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(img/down-arrow.png) no-repeat 98% 50% #1d336c;
      cursor: pointer;
    }
    label{
      text-align: center;
      display: block;
      font-size: 17px;
      margin-bottom: 8px;
      margin-top: 25px;
    }
    p{
      font-size: 12px;
      line-height: 20px;
      margin-top: 65px;
      margin-bottom: 35px;
    }
    .btn{
      font-family: 'Lubalin';
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 900;
      padding: 18px 0;
      height: auto;
      letter-spacing: 1px;
    }
  }
  .search-container{
    width: 100%;
    padding: 12px 18px 14px;
    background: #0a142f;
    input{
      background: #132451;
      text-transform: uppercase;
      border-color: #132451;
    }
  }
  .user-section{
    padding-top: 50px;
    h5{
      font-size: 20px;  
      margin-bottom: 30px;
    }
    .user-list{
      margin-top: 1px;
      .user{
        padding: 10px 14px;
        div{
         display: inline-block;
         font-size: 16px;
        }
        .avatar{
          display: inline-block;
          width: 50px;
          margin-right: 14px;
        }
        .btn{
          float: right;
          text-transform: uppercase;
          margin-top: 8px;
        }
        span{
          float: right;
          text-transform: uppercase;
          font-size: 14px;
          padding: 6px 12px;
          background: #0a142f;
          margin-top: 8px;
        }
      }
      
      .user:nth-child(odd){
        background: #162859;
      }
    }
  }
  
  .deleteGroup{
    font-family: 'Lubalin';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    padding: 18px 0;
    height: auto;
    letter-spacing: 1px;
    background: #ce1d1d;
    border-color: #ce1d1d;
    margin-top: 20px;
    margin-bottom: 45px;
  }
  
  .group-heading{
    text-align: center;
    color: #1d81ce;
    font-weight: 800;
    margin: 23px 0 13px;
    font-size: 20px;
  }
  .group-list{
    .group-item{
      padding: 10px 20px;
      position: relative;
      height: 65px;
      h3{
        color: #e8812e;
        font-weight: 800;
        margin: 0;
        font-size: 20px;
      }
      .btn{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
      }
      p{
        color: #6d7075;
        font-size:16px;
        margin-top: 2px;
      }
    }
    .group-item:nth-child(odd){
      background: #162859;
    }
  }
}