/* HEADER */

.header {
  background-color: $darkestBlue;
  height: 75px;
  margin-right: -15px !important;
  position: relative;

  img.logo {
    height: 100%;
    margin: 0 auto;
    padding: 8px 0px;
  }
  img.menu-icon{
    position: absolute;
    right: 13px;
    top: 16px;
    cursor: pointer;
  }
}