.leaderboards{
  .top-section{
    margin-top: 25px;
    margin-bottom: 25px;
    .grid-layout{
      width: 60%;
      display: inline-block; 
      .item{
        display: inline-block;
        width: 50%;
        text-align: center;
        height: 45px;
        vertical-align: top;
        cursor:pointer;
        h4{
          font-size: 15px;
          margin: 12px 0 0;
        }
        p{
          font-size: 12px;
          margin: 0;
        }
      }
      .item:nth-child(odd){
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
      }
      .item:nth-child(even){
        border-right: 1px solid #fff;
      }
      .item:nth-child(1),.item:nth-child(2){
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
      .item:nth-child(3),.item:nth-child(4){
        border-bottom: 1px solid #fff;
      }
      .item:nth-child(1){border-top-left-radius: 12px;}
      .item:nth-child(2){
        border-top-right-radius: 12px;
        h4{
          margin-top: 5px;
        }
      }
      .item:nth-child(3){border-bottom-left-radius: 12px;}
      .item:nth-child(4){border-bottom-right-radius: 12px;}
      .item.active{
        background: #1d81ce;
      }
    }
    .switch-container{
      width: 38%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      p{
        font-size: 15px;
      }
      .onoffswitch{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  ul.board-tabpanel{
     li{
        &.active{
          background-color:#1d81ce;
          border-bottom:5px solid #36497C;
        }

        a.leaderboard-tabs{
          padding: 10px;
          color: #fff;
          outline: 0;
          background-color: transparent!important;
          border: 0!important;
          cursor: pointer;
        }
     } 
  } 

  .user-list{
    margin-top: 1px;
    .user{
      padding: 10px 14px;
      button.entries-edit-btn{
        background-color: #1d81ce;
        border: 1px solid #1d81ce;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        color: #fff;
        font-weight: bold;
      }
      div{
       display: inline-block;
       font-size: 16px;
      }
      .rank{width: 25px;}
      .avatar{
        display: inline-block;
        width: 50px;
        margin-right: 14px;
      }
      .score{
        float: right;
        margin-top: 14px;
      }
    }
    .user:nth-child(odd){
      background: #162859;
    }
  }
  button.fb-btn{
    margin: 15px 10px;
    display: block;
    width: 100%;
    font-family: Lubalin;
    text-transform: uppercase;
    font-weight: 300;
    padding: 28px 0px 23px 43px;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 22px 0;
    position: relative;
    background: #2c4da7;
    img{
      width: 35px;
      position: absolute;
      left: 25px;
      top: 16px;
    }
  }
  button:hover{
    color: #fff;
  }
}