@import 'fonts-colors';

/* BODY */

body {
  background-color: $darkestBlue;
  font-family: 'ProximaNova', 'Arial', sans-serif;
  font-size: 16pt;
  color: $white;
}

/* HEADER */

.header {
  background-color: $darkBlue;
  height: 150px;
}

/* SIDEBAR */

#sidebar-wrapper {
  position: relative;
  width: 20%;
  float: left;
  padding-right: 15px;
/*  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  overflow-y: auto;*/
}

.search-box {
  position: relative;

  .glyphicon {
    position: absolute;
    padding: 20px;
    pointer-events: none;
    color: $accentBlue;
  }

  input {
    font-size: 14pt;
    padding: 8px 10px 8px 45px;
    width: 100%;
    background-color: $darkBlue;
    border: none;
  }
}

.search {
  margin: 10px;
  border-radius: 25px;
}

.notification {
  margin-top: 10px;
}

.profile-stats {
  margin-top: 20px;

    img {
      display: inline-block;
      margin: 25px 10px;
      border-radius: 50px;
      height: 100px;
    }

    p,a {
      text-align: right;
    }
}

.sidebar-nav {
  position: absolute;
  top: 250px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      font-family: "ProximaNova Light", "Arial", sans-serif;
      color: $lightGray;
    }

    a:active, a:focus {
      background-color: $accentBlue;
      text-decoration: none;
      color: $lightGray;
    }
  }
}

/* MAIN CONTENT */

#main-content-wrapper {
  width: 80%;
  float: left;
  position: relative;
}

#inner-content-wrapper {
  margin-left: 0;
  width: 100%;
  height: 100vh;
  background-color: $midBlue;
}
