@import 'fonts-colors';

/* BODY */

body {
  background-color: $darkestBlue;
  font-family: 'ProximaNova Light', 'Arial', sans-serif;
  font-size: 16pt;
  color: $white;
}

body, html {
  height: 100%;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* HEADER */

.header {
  background-color: $darkestBlue;
  height: 75px;

  img {
    height: 100%;
    margin: 0 auto;
    padding: 8px 0px;
  }
}

/* SIDEBAR */

.sidebar {
  background-color: $darkestBlue;
  padding-left: 0;
}  

.search-box {
  position: relative;

  .glyphicon {
    position: absolute;
    padding: 20px;
    pointer-events: none;
    color: $accentBlue;
  }

  input {
    font-size: 14pt;
    padding: 8px 10px 8px 45px;
    width: 100%;
    background-color: $darkBlue;
    border: none;
  }
}

.search {
  margin: 10px 0px;
  border-radius: 25px;
}

.notification {
  margin-top: 10px;
  margin-left: -10px;
}

.profile-stats {
  margin-top: 20px;

     .user-img img {
      display: inline-block;
      margin: 20px 25px;
      border-radius: 50px;
      height: 100px;
    }

    p {
      text-align: right;
      color: $lightGray;
      padding-right: 15px;
    }

    p:first-child {
      color: $lightBlue;
      margin-bottom: -6px;
    }

    p:last-child {
      margin-top: -6px;

      img {
        display: inline-block;
        height: 25px;
        padding-right: 5px;
      }
    }

    a {
      text-decoration: none;
      color: $lightGray;
      font-size: 12pt;
    }
}

.sidebar-nav {
  padding-left: 60px;

  ul {
  margin: 15px 0px 0px 0px;
  list-style: none;

    li {
      text-indent: 20px;
      line-height: 50px;
      border-bottom: solid 1px $accentBlue;

      a {
        padding-left: 10px;
        display: block;
        text-decoration: none;
        color: $lightGray;
      }

      i {
        line-height: inherit;
        color: $accentBlue;
        margin-top: -4px;
        border-bottom: solid 1px $accentBlue;
      }
    }

    .active, i.active {
      background-color: $accentBlue;
      text-decoration: none;
      color: $lightGray;
      border: none;
    }
    i.active {
      margin-top: -4px;
      color: $orange;
    }
  }  
}

/* MAIN CONTENT */

.container-fluid {
  padding: 0;
  margin: 0;
}

.main-content {
  background-color: $midBlue;
}

#inner-content-wrapper {
  position: relative;
  height: 100vh;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
  background-color: $midBlue;

  p {
    margin-top: 20px;
    text-align: center;
  }
}

.placeholder {
  position: relative;
  top: 20px;
  height: 200px;
  width: 300px;
  margin: 0 auto;
  background-color: $orange;
}

/* TEAMS LIST */

.teams-list {
  margin-top: 20px;

  li {
    list-style-type: none;

    .team-box {
    position: relative;
    display: block;

      .team-btn {
        color: $white;
        background-color: transparent;
        border-color: $white;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        position: relative;
        outline: none;
        background-color: $midBlue;

        span {
          display: block;
        }

        .title {
          font-size: 12px;
          color: white;
        }

        .subtitle {
          font-size: 10px;
          color: #c88e6d;
        }

        .time-channel {
          color: #fff;
          font-size: 10px;
          border: 1px solid #fff;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px;
        }
      }

      .team-btn:hover,
      .team-btn:focus,
      .team-btn.focus,
      .team-btn:active,
      .team-btn.active {
        color: #fff;
        background-color: transparent;
        border-color: #e0e0e0;
      }

      .team-btn.disabled,
      .team-btn.disabled:hover,
      .team-btn.disabled:focus,
      .team-btn.disabled.focus,
      .team-btn.disabled:active,
      .team-btn.disabled.active,
      .team-btn[disabled],
      .team-btn[disabled]:hover,
      .team-btn[disabled]:focus,
      .team-btn[disabled].focus,
      .team-btn[disabled]:active,
      .team-btn[disabled].active{
        background-color: transparent;
        border-color: white;
      }

      .team-btn-left {
        padding: 3px 70px 3px 10px;
        float: left;
        width: 50%;
      
        .time-channel {
          top: 5px;
          right: 0;
          position: absolute;
          padding: 5px 15px 5px 5px !important;
          border: 0;
        }
      }

      .team-btn-right {
        padding: 3px 10px 3px 70px;
        float: left;
        width: 50%;
        
        .time-channel {
          top: 5px;
          left: 0;
          position: absolute;
          padding: 5px 15px 5px 15px !important;
          border: 0;
        }
      }
      
      .ball-center {
        top: 0;
        right: 50%;
        position: absolute;
        margin-right: -20px;
      }
    }
  }
}












