@import 'fonts-colors';

/* BODY */

body {
  background-color: $darkestBlue;
  font-family: 'ProximaNova Light', 'Arial', sans-serif;
  font-size: 16pt;
  color: $white;
}

body, html {
  height: 100%;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* HEADER */

.header {
  background-color: $darkestBlue;
  height: 75px;
  margin-right: -15px !important;

  img {
    height: 100%;
    margin: 0 auto;
    padding: 8px 0px;
  }
}

/* SIDEBAR */

.sidebar {
  background-color: $darkestBlue;
  padding-left: 0;
}  

.search-box {
  position: relative;

  .glyphicon {
    position: absolute;
    padding: 20px;
    pointer-events: none;
    color: $accentBlue;
  }

  input {
    font-size: 14pt;
    padding: 8px 10px 8px 55px;
    width: 100%;
    background-color: $darkBlue;
    border: none;
  }
}

.search {
  margin: 10px 0px;
  border-radius: 25px;
}

.notification {
  margin-top: 10px;
  margin-left: -10px;
}

.profile-stats {
  margin-top: 20px;

     .user-img img {
      display: inline-block;
      margin: 20px 25px;
      border-radius: 50px;
      height: 100px;
    }

    p {
      text-align: right;
      color: $lightGray;
      padding-right: 15px;
    }

    p:first-child {
      color: $lightBlue;
      margin-bottom: -6px;
    }

    p:last-child {
      margin-top: -6px;

      img {
        display: inline-block;
        height: 25px;
        padding-right: 5px;
      }
    }

    a {
      text-decoration: none;
      color: $lightGray;
      font-size: 12pt;
    }
}

.sidebar-nav {
  padding-left: 60px;

  ul {
  margin: 15px 0px 0px 0px;
  list-style: none;

    li {
      text-indent: 20px;
      line-height: 55px;
      border-bottom: solid 1px $accentBlue;

      a {
        padding-left: 10px;
        display: block;
        text-decoration: none;
        color: $lightGray;
      }

      i {
        line-height: inherit;
        color: $accentBlue;
        margin-top: -4px;
        border-bottom: solid 1px $accentBlue;
      }
    }

    .active, i.active {
      background-color: $accentBlue;
      text-decoration: none;
      color: $lightGray;
      border: none;
    }
    i.active {
      margin-top: -4px;
      color: $orange;
    }
  }  
}

/* MAIN CONTENT */

.container-fluid {
  padding: 0;
  margin: 0;
  background-color: $darkestBlue;
}

.main-content {
  background-color: $darkestBlue;
  margin-left: -15px !important;
  padding-right: 0;
}

.inner-content-wrapper {
  background-color: $midBlue;
}

.inner-content {
  background-color: $midBlue;
  width: 40%;
  margin: 0 auto;
}

.placeholder img {
  margin-top: 5px;
  height: 210px;
}

.description {
  margin-bottom: -10px;

  p {
    margin-top: 10px;
    margin-right: -10px;
    font-size: 14pt;
    text-align: left;
  }

  .learn-more button {
    margin-top: 15px;
    margin-left: -10px;
    font-size: 14pt;
    background-color: $midBlue;
    border-radius: 8px;
    border: solid 1px white;
    color: white;
    padding: 8px 15px;
  }

  .learn-more a.button:hover {
    background-color: $accentBlue;
  }
}

/* TEAMS LIST */

.teams-list {
  margin-top: 20px;
  padding-left: 0;
  display: inline-block;
  width: 100%;

  li {
    list-style-type: none;

    .team-box {
    position: relative;
    display: block;

      .team-btn {
        color: $white;
        background-color: transparent;
        border-color: $white;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        position: relative;
        outline: none;
        background-color: $midBlue;
        margin-bottom: -40px;

        span {
          display: block;
        }

        .title {
          font-size: 15px;
          color: $white;
        }

        .subtitle {
          font-size: 13px;
          color: $lightOrange;
        }

        .time-channel {
          color: $white;
          font-size: 12px;
          border: 1px solid $white;
          -moz-border-radius: 30px;
          -webkit-border-radius: 30px;
          border-radius: 30px;
        }
      }

      .team-btn:hover,
      .team-btn:focus,
      .team-btn.focus,
      .team-btn:active,
      .team-btn.active {
        color: #fff;
        background-color: $accentBlue;
        border-color: #e0e0e0;
      }

      .team-btn.disabled,
      .team-btn.disabled:hover,
      .team-btn.disabled:focus,
      .team-btn.disabled.focus,
      .team-btn.disabled:active,
      .team-btn.disabled.active,
      .team-btn[disabled],
      .team-btn[disabled]:hover,
      .team-btn[disabled]:focus,
      .team-btn[disabled].focus,
      .team-btn[disabled]:active,
      .team-btn[disabled].active{
        background-color: $accentBlue;
        border-color: white;
      }

      .team-btn-left {
        padding: 8px 100px 8px 20px;
        float: left;
        width: 50%;

        .title, .subtitle {
          text-align: left;
        }
      
        .time-channel {
          top: 10px;
          right: 0;
          position: absolute;
          padding: 8px 40px 8px 15px !important;
        }
      }

      .team-btn-right {
        padding: 8px 20px 8px 100px;
        float: left;
        width: 50%;

        .title, .subtitle {
          text-align: right;
        }
        
        .time-channel {
          top: 10px;
          left: 0;
          position: absolute;
          padding: 8px 15px 8px 40px !important;
        }
      } 
    }

    .ball-center {
      position: relative;
      right: -180px;
      top: -21px;

      img {
        height: 65px;
        display: inline-block;
        margin: 0 auto;
      }
    }  
  }
}

/* SLIDESHOW NAV */

.nav-buttons {
  .carousel-indicators {
    top: 20px;
    left: 55px;
    width: 70%;

    li {
      background-color: $shadowBlue;
      border: none;
      margin: 2px;
    }

    .active {
      background-color: $white;
      border: none;
    }
  }

  .right-button {
    margin-left: -35px;
  }

  .left img, .right img {
    margin-top: 4px;
  }
  .exit img {
    margin-top: 8px;
  }

}

/* TEAMS MENU */

.carousel-inner ul.teams-list {
  width: 90%;
  margin-left: 15px;

  .ball-center {
    right: -170px;
  }
}

.teams-menu {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 14pt;

  a, a:hover {
    color: $accentBlue;
    text-decoration: none;
  }

  a:hover {
    font-family: "ProximaNova", "Arial Bold", sans-serif;
  }
    
  li {
    display: inline-block;
    text-align: center;
    padding: 0 50px 10px 50px;
    margin: -10px;
    border-bottom: solid 1px $accentBlue;
  }

  li.active {
    border-bottom: solid 7px $accentBlue;
    padding-bottom: 4px;

    a, a:hover {
      color: $white;
      text-decoration: none;
      font-family: "ProximaNova Light", "Arial", sans-serif;
    }
  }
}

/* ANALYSIS */

.analysis {
  background-color: $white;
  color: black;
  margin: 5px 18px 10px 18px;
  padding: 8px 12px;

  .title {
    font-family: "ProximaNova Bold", "Arial Bold", sans-serif;
    font-size: 17pt;
    line-height: 20pt;
  }

  .author p{
    font-size: 12pt;
    color: $lightGray;
  }

  .text {
    font-size: 12pt;

    .first-sentence {
      font-family: "ProximaNova Bold", "Arial Bold", sans-serif;
    }

    p:last-child {
      margin-bottom: 15px;
    }
  }


  .tags {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 100%;
    border-top: solid 2px $lightGray;
  }

  li {
    color: $lightGray;
    font-size: 14pt;
    display: inline-block;
    text-align: center;
    padding: 10px 15px 0px 15px;
  }
}

/* TWEETS */

/* STATS */











