.refer{
  p{
    width: 100%;
    font-size: 28px;
    margin-top: 45px;
    text-align: center;
  }
  .share-icons{
    text-align: center;
    margin-top: 40px;
    a{
      display: inline-block;
      width: 49%;
      margin-bottom: 53px;
      img{
        width: 60%;
      }
    }
  }
}