/* SLIDESHOW NAV */

.nav-buttons {
  margin-top: 0px;
  text-align: center;

  .carousel-indicators {
    top: 20px;
    left: 55px;
    width: 70%;

    li {
      background-color: $shadowBlue;
      border: none;
      margin: 2px;
    }

    .active {
      background-color: $white;
      border: none;
    }
  }

  .right-button {
    margin-left: -35px;
  }

  .left img, .right img {
    margin-top: 4px;
  }
  .exit img {
    margin-top: 8px;
  }

}

.nav-icon{
  img{ 
    margin-top: 13px !important;
    width: 31px;
  }
}

.nav-element{
  display: inline-block;
  margin: 15px;
}

.carousel-indicators.nav-element{
  position: static;
  width: inherit;
  vertical-align: top;
  padding-top: 29px;
  margin: 0;
}