/* STREAK */

.streak {
  width: 100%;
  margin-top: 20px;

  .main-ellipse {
    position: relative;
    width: 404px;
    height: 220px;
    border: solid 4px $orange;
    border-radius: 120px;
    margin: auto;

  .active-border {
    border: solid 5px transparent;
    width: 100%;
    height: 100%;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;

    img.checker-finish {
      display: block;
      position: absolute;
      top: 176px;
      left: 140px;
      height: 30px;
    }
  }  
  svg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 1;
    transform: rotate(180deg);
    rect{
      fill: transparent;
      stroke-width: 5;
      stroke: #fff;
    }
  }
  .anim-fix-overlay{
    position: absolute;
    width: 138px;
    height: 6px;
    background: $midBlue;
    z-index: 4;
    bottom: 0;
    left: 150px;
    transition: width linear 750ms;
  }
  .anim-fix-overlay.finish{
    width: 0;
  }

  .inner-ellipse {
    position: relative;
    width: 385px;
    height: 202px;
    padding: 5px;
    border-radius: 100px;
    border: solid 30px $accentBlue;

    .inner-text {
      padding: 25px 60px;
      text-align: center;
      font-size: 11pt;
      height: 143px;
      border-radius: 120px;
      margin-top: -5px;
      background-color: $midBlue;
      
      width: 104%;
      margin-left: -2%;

      p:first-child {
        margin-top: -2px;
        line-height: 18px;
      }

      p:nth-child(2) {
        font-family: "Rockwell";
        font-size: 26pt;
      }

      p + p {
        margin-top: -15px;
      }

      span.streak-num {
        color: $orange;
      }
    }
  }   

    p span:not(.streak-num) {
      position: absolute;
      top: 0;
    }

    .outer-numbers {  
      font-family: "Rockwell", serif;
      font-size: 19pt;
      color: $darkBlue;
  

      .active {
        color: $white;
      }
    }
    
    .outer-numbers{
      .nums{
        width: 28px;
        height: 28px;
        color: $darkBlue;
        line-height: 28px;
        font-size: 23px;
        text-align: center;
      }
      .nums.active{
        color: #fff;
      }
      
      .bottom { top: 85%; }
      .top{ top: 3%; }
      
      .left-outer{left: 25%; transform: translateX(-50%);}
      .center{ left: 50%; transform: translateX(-50%); }
      .right-outer{ left: 76%; transform: translateX(-50%); }
      
      .left-inner{left: 38%; transform: translateX(-50%);}
      .right-inner{left: 62%; transform: translateX(-50%);}
      
      .left-section{left: 5%;}
      .right-section{left: 94%;transform: translateX(-100%);}
      .top-half{ top: 21%; }
      .bottom-half{ top: 79%; transform: translateY(-100%);}
      .mid-point{ top: 50%; transform: translateY(-50%); }
      
      .left-section.top-half{ transform: rotate(-55deg);}
      .left-section.bottom-half{ transform: translateY(-100%) rotate(56deg);}
      .right-section.top-half{ transform: translateX(-100%) rotate(55deg);}
      .right-section.bottom-half{ transform: translateX(-100%) translateY(-100%) rotate(-56deg);}
      .left-section.mid-point{left: 1%; transform: translateY(-50%) rotate(-90deg)}
      .right-section.mid-point{left: 91%; transform: translateY(-50%) rotate(90deg)}
          
    }  

    .inner-numbers {
      span {
        font-size: 10pt;
        color: $orange;
        width: 35px;
        text-align: center;
      }
      
      .bottom { top: 77%; }
      .top{ top: 17%; }
      
      .left-outer{left: 25%; transform: translateX(-50%);}
      .center{ left: 50%; transform: translateX(-50%); }
      .right-outer{ left: 76%; transform: translateX(-50%); }
      
      .left-inner{left: 38%; transform: translateX(-50%);}
      .right-inner{left: 62%; transform: translateX(-50%);}
      
      .left-section{left: 10%;}
      .right-section{left: 90%;transform: translateX(-100%);}
      .top-half{ top: 28%; }
      .bottom-half{ top: 71%; transform: translateY(-100%);}
      .mid-point{ top: 50%; transform: translateY(-50%); }
      
      .left-section.top-half{ transform: rotate(-55deg);}
      .left-section.bottom-half{ transform: translateY(-100%) rotate(56deg);}
      .right-section.top-half{ transform: translateX(-100%) rotate(55deg);}
      .right-section.bottom-half{ transform: translateX(-100%) translateY(-100%) rotate(-56deg);}
      .left-section.mid-point{left: 7%; transform: translateY(-50%) rotate(-90deg)}
      .right-section.mid-point{left: 84%; transform: translateY(-50%) rotate(90deg)} 
    }
  }  
}