/* STREAK */

.streak {
  width: 100%;
  margin-top: 20px;

  .main-ellipse {
    position: relative;
    width: 404px;
    height: 220px;
    border: solid 4px $orange;
    border-radius: 120px;
    margin: auto;

  .active-border {
    border: solid 5px transparent;
    width: 100%;
    height: 100%;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;

    img.checker-finish {
      display: block;
      position: absolute;
      top: 176px;
      left: 140px;
      height: 30px;
    }
  }  
  svg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 1;
    transform: rotate(180deg);
    rect{
      fill: transparent;
      stroke-width: 5;
      stroke: #fff;
    }
  }

  .inner-ellipse {
    position: relative;
    width: 385px;
    height: 202px;
    padding: 5px;
    border-radius: 100px;
    border: solid 30px $accentBlue;

    .inner-text {
      padding: 25px 60px;
      text-align: center;
      font-size: 11pt;
      height: 143px;
      border-radius: 120px;
      margin-top: -5px;
      background-color: $midBlue;
      
      width: 104%;
      margin-left: -2%;

      p:first-child {
        margin-top: -2px;
        line-height: 18px;
      }

      p:nth-child(2) {
        font-family: "Rockwell";
        font-size: 26pt;
      }

      p + p {
        margin-top: -15px;
      }

      span.streak-num {
        color: $orange;
      }
    }
  }   

    p span:not(.streak-num) {
      position: absolute;
      top: 0;
    }

    .outer-numbers {  
      font-family: "Rockwell", serif;
      font-size: 22pt;
      color: $darkBlue;
  
      .num1, .num6 { left: 175px; }
      .num2, .num5 { left: 260px; }
      .num10, .num7 { left: 90px; }
      .num5, .num6, .num7 { top: 172px; }
      .num3, .num9 { top: 50px; }
      .num4, .num8 { top: 120px; }
      .num3 { 
        left: 352px; 
        transform: rotate(64deg); 
      }
      .num9 { 
        left: 18px; 
        transform: rotate(-64deg); 
      }
      .num8 { 
        left: 20px;
        transform: rotate(58deg); 
      }
      .num4 { 
        left: 350px;
        transform: rotate(-72deg); 
      }
      .active {
        color: $white;
      }
    }  

      .inner-numbers {
        span {
        font-size: 12pt;
        color: $orange;
        }

      .inner-num1 { left: 175px; }
      .inner-num6 { left: 155px; }
      .inner-num2, .inner-num5 { left: 260px; }
      .inner-num10, .inner-num7 { left: 90px; }
      .inner-num1, .inner-num2, .inner-num10 { top: 35px; }
      .inner-num5, .inner-num6, .inner-num7 { top: 158px; }
      .inner-num3, .inner-num9 { top: 70px; }
      .inner-num3 { 
        left: 317px; 
        transform: rotate(64deg); 
      }
      .inner-num9 { 
        left: 40px; 
        transform: rotate(-64deg); 
      }
      .inner-num8 { 
        top: 120px;
        left: 43px;
        transform: rotate(58deg); 
      }
      .inner-num4 { 
        top: 127px;
        left: 310px;
        transform: rotate(-53deg); 
      }  
    }
  }  
}