/* TEAMS LIST */

.teams-list {
  margin-top: 20px;
  padding-left: 0;
  display: inline-block;
  width: 100%;

  li {
    list-style-type: none;
    position: relative;
    
    span{
      transition: opacity 300ms ease-in;
    }
    h4{
      position: absolute;
      top: 0;
      left: 0;
      left: 50%;
      transform: translateX(-50%);
      top: 8px;
      opacity: 0.0;
      transition: opacity 300ms ease-in;
    }

    .team-box {
    position: relative;
    display: block;

      .team-btn {
        color: $white;
        background-color: transparent;
        border-color: $white;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        position: relative;
        outline: none;
        background-color: $midBlue;
        margin-bottom: -40px;
        transition: background-color 300ms ease-in;

        span {
          display: block;
        }

        .title {
          font-size: 15px;
          color: $white;
        }

        .subtitle {
          font-size: 13px;
          color: $lightOrange;
        }

        .time-channel {
          color: $white;
          font-size: 12px;
          border: 1px solid $white;
          -moz-border-radius: 30px;
          -webkit-border-radius: 30px;
          border-radius: 30px;
        }
      }

      .team-btn:hover,
      .team-btn:focus,
      .team-btn.focus,
      .team-btn:active,
      .team-btn.active {
        color: #fff;
        background-color: $accentBlue;
        border-color: #e0e0e0;
      }

      .team-btn.disabled,
      .team-btn.disabled:hover,
      .team-btn.disabled:focus,
      .team-btn.disabled.focus,
      .team-btn.disabled:active,
      .team-btn.disabled.active,
      .team-btn[disabled],
      .team-btn[disabled]:hover,
      .team-btn[disabled]:focus,
      .team-btn[disabled].focus,
      .team-btn[disabled]:active,
      .team-btn[disabled].active{
        background-color: $accentBlue;
        border-color: white;
      }

      .team-btn-left {
        padding: 8px 100px 8px 20px;
        float: left;
        width: 50%;
        -moz-border-top-right-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        -moz-border-bottom-right-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right-width: 0px;

        .title, .subtitle {
          text-align: left;
        }
      
        .time-channel {
          top: 10px;
          right: 0;
          position: absolute;
          padding: 8px 40px 8px 15px !important;
          -moz-border-top-right-radius: 0px;
          -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
          -moz-border-bottom-right-radius: 0px;
          -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-right-width: 0px;
        }
      }

      .team-btn-right {
        padding: 8px 20px 8px 100px;
        float: left;
        width: 50%;
        -moz-border-top-left-radius: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
        -moz-border-bottom-left-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left-width: 0px;

        .title, .subtitle {
          text-align: right;
        }
        
        .time-channel {
          top: 10px;
          left: 0;
          position: absolute;
          padding: 8px 15px 8px 40px !important;
          -moz-border-top-left-radius: 0px;
          -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
          -moz-border-bottom-left-radius: 0px;
          -webkit-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-left-width: 0px;
        }
      } 
    }

    .ball-center {
      position: relative;
      width: 67px;
      left: 50%;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -22px;
      display: block;

      img {
        height: 65px;
        display: inline-block;
        margin: 0 auto;
      }
    }  
  }
  
  li.submitting{
    span{
      opacity: 0.0;
    }
    .team-btn,.team-btn.active,.team-btn:focus,.team-btn:hover{
      background-color: transparent;
    }
    h4{
      opacity: 1.0;
    }
    .ball-center{
      transition: all 300ms ease-in;
    }
  }
}