/* TWEETS */

.tweets {
  .twitter-ball img {
    width: 60px;
  }

  p {
    padding-left: 10px;
  }

  p:first-child {
    margin-top: 15px;
  }

  .title {
    line-height: 15px;
  }

  .subtitle {
    font-family: "ProximaNova Light", "Arial", sans-serif;
  }

  .text {
    margin-top: 75px;
  }

  .twitter-image {
    padding: 0px 10px 10px 10px;
  }
}